body {
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    color: #595959;
    text-align: center;
}

h3, h2, h1 {
    color: black;
}

p {
    font-size: 18px;
    width: 800px;
    text-align: center;
}

.overlay {
   background:transparent; 
   position:relative; 
   width:600px;
   height:400px; /* your iframe height */
   top:400px;  /* your iframe height */
   margin-top:-400px;  /* your iframe height */
}

.maps iframe{
    pointer-events: auto;
}